
## Export all names
exportPattern(".")


## import base backages that are needed
importFrom("grDevices", "rainbow")
importFrom("graphics", "arrows", "identify", "locator", "par",
           "segments")
importFrom("stats", "dist")
importFrom("utils", "data", "head", "install.packages", "packageDescription")


## Import all packages listed as Imports or Depends
import(methods, graph, RBGL, sp, maptools, MASS, fields)

## export classes methods
exportClasses("gGraph")
exportClasses("gData")
exportMethods("[")
exportMethods("plot")
